html {
  background: white;
  font-family: Lato, sans-serif;

  body {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 1em;
    background: #233651;
    min-height: 100%;
    border: 1px solid black;
    border-width: 0 1px;
    box-shadow: 0 0 50px 5px gray;

    header {
      h1 {
        font-size: 250%;
        a {
          color: #8fbee8 !important;
        }

        .deved {
          color: #cbcbcb;
          font-size: 65%;
          font-weight: normal;
          display: inline-block;
          height: 0.5em;
          vertical-align: 0.25em;
          margin-left: 1em;
        }
      }
      h2 {
        font-size: 110%;
        margin-bottom: 1em;
        color: #fff2e7;
      }
      h3 {
        position: absolute;
        top: 2rem;
        right: 1rem;
        img {
          width: 2em;
          height: 2em;
          margin-right: 1em;
        }
      }
    }

    a {
      color: rgb(7, 95, 184);

      &:active,
      &:hover {
        text-decoration: none;
        color: rgb(100, 180, 230);
      }

      &:hover {
        color: rgb(80, 140, 200);
      }
    }
  }
}

#projects {
  display: flex;
  background: white;
  text-align: center;
  padding: 0.5em 1em;
  margin-bottom: 1rem;
  justify-content: space-evenly;

  span {
    display: inline-block;
    white-space: nowrap;
  }
}

/* --------------------------------------------------- */

#gh-weblog {
  .taglist {
    display: block;
  }

  blockquote {
    text-indent: 0;
    padding-left: 1em;
    margin: 0;
    font-style: italic;
  }

  button.authenticate {
    top: -6rem !important;
    opacity: 0.4;
  }
}
