
.gh-weblog textarea {
  clear: both;
  font-family: Lato;
  font-size: 1em;
  width: 100%;
  min-height: 20em;
}

.gh-weblog code {
  background: #ECECEC;
  padding: 0px 5px;
}

.gh-weblog pre code {
  background: inherit;
  padding: 0;
}

.gh-weblog pre {
  background: #EFEDD8;
  margin: 0 1em;
  padding: 0.5em;
  color: #180E65;
}

.gh-weblog table {
  background: #F0EFE9;
}

.gh-weblog table thead {
  background: #EFEDD8;
}

.gh-weblog table tbody tr:nth-child(2n) {
  background: #E5E5E5;
}

.gh-weblog .entry {
  clear: both;
  padding: 1em;
  padding-bottom: 4em;
  margin-bottom: 2em;
  background: white;
}

.gh-weblog .post img {
  max-width: 98%;
}

.gh-weblog .post img.border {
  border: 1px solid black;
}

.gh-weblog .delete.button {
  float:right;
}

.gh-weblog .tags {
  float: right;
  margin-top: 0.55em;
}

.gh-weblog .tags:before {
  content: "Tagged with:";
}

.gh-weblog .tags .tag {
  display: inline-block;
  margin: 0.25em;
  border: 1px solid lightgrey;
  padding: 1px 3px;
  background: #EEE;
}

.gh-weblog .tags .tag + .tag {
  margin-left: 0;
}

.gh-weblog .post.button {
  position: fixed;
  top: 1em;
  right: 1em;
}

.gh-weblog .entry header > h1 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 175%;
}

.gh-weblog .entry header > h2 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 80%;
  margin: 0;
  margin-bottom: 1.5em;
  text-indent: 1em;
  color: lightgrey;
}

.gh-weblog button {
  border: 1px solid grey;
  cursor: pointer;
}

.gh-weblog button:hover {
  box-shadow: 0px 0px 3px 0px #9193B6;
}

.gh-weblog button.authenticate {
  border: none;
  background: inherit;
  color: white;
  font-size: 50;
  float: right;
  cursor: pointer;
  margin-top: -1em;
}

.gh-weblog button.authenticate:hover {
  box-shadow: none;
}

.gh-weblog .underlay {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}

.gh-weblog .overlay {
  position: fixed;
  background: white;
  z-index: 11;
  top: calc(50% - 11em);
  right: 10%;
  top: calc(50% - 11em);
  left: 10%;
  padding: 1em;
  border: 1px solid #333;
  box-shadow: 0 0 45px 0 black;
}

.gh-weblog .overlay .logout {
  float: right;
}

.gh-weblog input.token {
  width: 23em;
}

.gh-weblog a.comments {
  position: relative;
  float: left;
  margin-top: 1em;
}

.gh-weblog div.post-wrapper div.post.collapsed *:nth-child(n+10) { display: none; }
.gh-weblog div.post-wrapper div.more { display: block; margin: 1em 0 1em 2em; }
.gh-weblog div.post-wrapper div.more button { padding: 0; border-style: dotted; }
